/* line 34, ../sass/include.scss */
body, ul, li, h1, h2, h3, h4, h5, h6, .hr1, .hr2, .recentwork, .equipments, .project { padding: 0px; margin: 0px auto; }

/* line 6, ../sass/custom.scss */
body { transition: all 500ms ease-IN; -o-transition: all 500ms ease; -ms-transition: all 500ms ease; -moz-transition: all 500ms ease; -webkit-transition: all 500ms ease; background: #FFF; font-size: 16px; line-height: 1.5em; width: 100%; color: #5f1d05; overflow-x: hidden; }

/* line 16, ../sass/custom.scss */
ul, li { list-style: none; }

/* line 20, ../sass/custom.scss */
h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 1.4em; }

/* line 25, ../sass/custom.scss */
h1 { font-size: 3em; }

/* line 26, ../sass/custom.scss */
h2 { font-size: 2.5em; }

/* line 27, ../sass/custom.scss */
h3 { font-size: 2em; }

/* line 28, ../sass/custom.scss */
h4 { font-size: 1.75em; }

/* line 29, ../sass/custom.scss */
h5 { font-size: 1.5em; }

/* line 30, ../sass/custom.scss */
h6 { font-size: 1.25em; }

/* line 31, ../sass/custom.scss */
a { transition: all 200ms ease-IN; -o-transition: all 200ms ease; -ms-transition: all 200ms ease; -moz-transition: all 200ms ease; -webkit-transition: all 200ms ease; color: #A00; }
/* line 34, ../sass/custom.scss */
a:hover { color: #F90; text-decoration: none; }

/* line 45, ../sass/custom.scss */
.list-type-1 li { list-style: outside; margin-left: 20px; }

/* line 50, ../sass/custom.scss */
.clearspace { padding: 0px; margin: 0px auto; }

/* line 51, ../sass/custom.scss */
.round-circle { border-radius: 50%; -o-border-radius: 50%; -ms-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; }

/* line 52, ../sass/custom.scss */
.round-xs { border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

/* line 53, ../sass/custom.scss */
.round-sm { border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

/* line 54, ../sass/custom.scss */
.round-md { border-radius: 15px; -o-border-radius: 15px; -ms-border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px; }

/* line 55, ../sass/custom.scss */
.round-lg { border-radius: 20px; -o-border-radius: 20px; -ms-border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px; }

/* line 56, ../sass/custom.scss */
.round-xl { border-radius: 30px; -o-border-radius: 30px; -ms-border-radius: 30px; -moz-border-radius: 30px; -webkit-border-radius: 30px; }

/* line 57, ../sass/custom.scss */
.shadow-xs { box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2); -ms-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15); }

/* line 58, ../sass/custom.scss */
.shadow-sm { box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2); -ms-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15); }

/* line 59, ../sass/custom.scss */
.shadow-md { box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2); -ms-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.15); }

/* line 60, ../sass/custom.scss */
.shadow-lg { box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.2); -ms-box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.15); }

/* line 61, ../sass/custom.scss */
.shadow-xl { box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.2); -ms-box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.15); }

/* line 62, ../sass/custom.scss */
.tab-lg { padding-left: 40px; }

/* line 63, ../sass/custom.scss */
.tab-md { padding-left: 20px; }

/* line 64, ../sass/custom.scss */
.tab-sm { padding-left: 10px; }

/* line 65, ../sass/custom.scss */
.tab-xs { padding-left: 5px; }

/* line 66, ../sass/custom.scss */
.text-orange { color: #F90 !important; }

/* line 67, ../sass/custom.scss */
.text-lightestgray { color: #DDD !important; }

/* line 68, ../sass/custom.scss */
.text-lightergray { color: #AAA !important; }

/* line 69, ../sass/custom.scss */
.text-lightgray { color: #999 !important; }

/* line 70, ../sass/custom.scss */
.text-gray { color: #777 !important; }

/* line 71, ../sass/custom.scss */
.text-darkgray { color: #555 !important; }

/* line 72, ../sass/custom.scss */
.text-darkergray { color: #333 !important; }

/* line 73, ../sass/custom.scss */
.text-darkestgray { color: #111 !important; }

/* line 74, ../sass/custom.scss */
.text-underline { text-decoration: underline !important; }

/* line 81, ../sass/custom.scss */
.responsivemenu { transition: all 400ms ease-IN; -o-transition: all 400ms ease; -ms-transition: all 400ms ease; -moz-transition: all 400ms ease; -webkit-transition: all 400ms ease; position: fixed; z-index: 999; height: 100%; overflow: hidden; background: rgba(51, 51, 51, 0.9); top: 0px; right: -80%; width: 80%; font-size: 1.5em; }
/* line 92, ../sass/custom.scss */
.responsivemenu .backbutton { border-radius: 0px; -o-border-radius: 0px; -ms-border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; width: 100%; text-align: left; padding: 15px 0px 15px 35px; font-size: 1.2em; }
/* line 99, ../sass/custom.scss */
.responsivemenu ul { padding: 0px; margin: 0px auto; list-style: none; }
/* line 102, ../sass/custom.scss */
.responsivemenu ul li { border-bottom: solid 1px rgba(0, 0, 0, 0.3); }
/* line 104, ../sass/custom.scss */
.responsivemenu ul li a { transition: all 400ms ease-IN; -o-transition: all 400ms ease; -ms-transition: all 400ms ease; -moz-transition: all 400ms ease; -webkit-transition: all 400ms ease; font-size: 1.2em; padding: 30px 40px; display: block; color: #FFF; }
/* line 110, ../sass/custom.scss */
.responsivemenu ul li a:hover { background: black; color: #FFF; }
/* line 111, ../sass/custom.scss */
.responsivemenu ul li a.active { background: #FFF; color: #555; }

/* line 116, ../sass/custom.scss */
.responsivemenu-clicked { right: 0%; }

/* line 128, ../sass/custom.scss */
.header-top { transition: all 300ms ease-IN; -o-transition: all 300ms ease; -ms-transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease; position: fixed; top: 0; width: 100%; height: 30px; line-height: 30px; overflow: hidden; background: #111; color: #DDD; font-size: 0.9em; z-index: 998; }
/* line 140, ../sass/custom.scss */
.header-top .header-top-container { padding: 0px 30px; }
/* line 143, ../sass/custom.scss */
.header-top .fa-phone { border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; transition: all 300ms ease-IN; -o-transition: all 300ms ease; -ms-transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease; margin-top: 3px; margin-right: 3px; width: 23px; height: 23px; line-height: 23px; text-align: center; color: #111; background: #DDD; }
/* line 154, ../sass/custom.scss */
.header-top .fa-phone:hover { color: #FFF; background: #F90; }
/* line 156, ../sass/custom.scss */
.header-top ul { float: right; }
/* line 158, ../sass/custom.scss */
.header-top ul li { float: left; }
/* line 160, ../sass/custom.scss */
.header-top ul li a { border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-top: 3px; margin-left: 3px; width: 23px; height: 23px; line-height: 23px; text-align: center; color: #111; background: #DDD; }
/* line 171, ../sass/custom.scss */
.header-top ul li a:hover.fa-facebook { color: #FFF; background: #00F; }
/* line 172, ../sass/custom.scss */
.header-top ul li a:hover.fa-twitter { color: #FFF; background: #AAF; }
/* line 173, ../sass/custom.scss */
.header-top ul li a:hover.fa-instagram { color: #FFF; background: #B71; }
/* line 174, ../sass/custom.scss */
.header-top ul li a:hover.fa-youtube { color: #FFF; background: #F00; }

/* line 180, ../sass/custom.scss */
.header-top-scrolled { top: -30px; }

/* line 183, ../sass/custom.scss */
.header-main { transition: all 300ms ease-IN; -o-transition: all 300ms ease; -ms-transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease; box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.2); -ms-box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.15); position: fixed; top: 30px; height: 90px; line-height: 90px; width: 100%; background: rgba(244, 205, 159, 0.8); color: #5f1d05; overflow: hidden; z-index: 997; font-size: 1em; }
/* line 196, ../sass/custom.scss */
.header-main .logo { position: relative; }
/* line 198, ../sass/custom.scss */
.header-main .logo .logo-color { transition: all 250ms ease-IN; -o-transition: all 250ms ease; -ms-transition: all 250ms ease; -moz-transition: all 250ms ease; -webkit-transition: all 250ms ease; position: absolute; top: 17px; max-height: 55px; }
/* line 204, ../sass/custom.scss */
.header-main .logo .logo-white { transition: all 250ms ease-IN; -o-transition: all 250ms ease; -ms-transition: all 250ms ease; -moz-transition: all 250ms ease; -webkit-transition: all 250ms ease; position: absolute; top: -100px; max-height: 55px; }
/* line 212, ../sass/custom.scss */
.header-main .navigation ul { float: right; }
/* line 214, ../sass/custom.scss */
.header-main .navigation ul li { float: left; }
/* line 216, ../sass/custom.scss */
.header-main .navigation ul li a { display: block; padding: 0px 20px; line-height: 90px; }
/* line 220, ../sass/custom.scss */
.header-main .navigation ul li a:hover { background: #FFF; line-height: 100px; }
/* line 226, ../sass/custom.scss */
.header-main .navigation ul li.active a { background: #A00; color: #FFF; line-height: 100px; }

/* line 236, ../sass/custom.scss */
.header-main-scrolled { top: 0; background: rgba(51, 51, 51, 0.95); height: 60px; line-height: 60px; font-size: 0.8em; }
/* line 243, ../sass/custom.scss */
.header-main-scrolled .logo .logo-color { top: -100px; max-height: 40px; }
/* line 247, ../sass/custom.scss */
.header-main-scrolled .logo .logo-white { position: absolute; top: 10px; max-height: 40px; }
/* line 256, ../sass/custom.scss */
.header-main-scrolled .navigation ul li a { padding: 0px 18px; line-height: 60px; color: #FFF; }
/* line 260, ../sass/custom.scss */
.header-main-scrolled .navigation ul li a:hover { color: #A00; background: #FFF; line-height: 70px; }
/* line 267, ../sass/custom.scss */
.header-main-scrolled .navigation ul li.active a { background: #A00; color: #FFF; line-height: 70px; }

/* line 281, ../sass/custom.scss */
#slider { padding-top: 30px; background: #5f1d05; }
/* line 284, ../sass/custom.scss */
#slider .slider-btn { background: #F90; color: #FFF; text-transform: uppercase; width: 190px; text-align: center; height: 55px; line-height: 55px; padding: 0; font-size: 18px; font-weight: 800; border: 0; -webkit-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; -ms-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s; }
/* line 301, ../sass/custom.scss */
#slider .slider-btn:hover { background-color: #FFF; color: #777; }
/* line 308, ../sass/custom.scss */
#slider #main-carousel .carousel-inner .item { background-size: cover; height: 100%; background-position: 50% 50%; background-repeat: no-repeat; }
/* line 314, ../sass/custom.scss */
#slider #main-carousel .carousel-inner h2 { color: #FFF; display: inline-block; font-size: 55px; font-weight: 800; margin-bottom: 0px; text-transform: uppercase; }
/* line 321, ../sass/custom.scss */
#slider #main-carousel .carousel-inner h2 span { color: #7ab700; }
/* line 324, ../sass/custom.scss */
#slider #main-carousel .carousel-inner h2 p { color: #FFF; font-size: 24px; font-weight: 300; margin-bottom: 59px; margin-top: 0; }
/* line 333, ../sass/custom.scss */
#slider #main-carousel .carousel-indicators { bottom: 15px; }
/* line 335, ../sass/custom.scss */
#slider #main-carousel .carousel-indicators li { background: transparent; border: 1px solid #fff; width: 13px; height: 13px; margin-left: 5px; text-indent: -9999px; display: inline-block; }
/* line 344, ../sass/custom.scss */
#slider #main-carousel .carousel-indicators .active { background-color: #fff !important; }
/* line 348, ../sass/custom.scss */
#slider #main-carousel .carousel-caption { display: table; height: 100%; width: 100%; min-height: 100%; left: 0; top: 0; z-index: 11; }
/* line 356, ../sass/custom.scss */
#slider #main-carousel .carousel-caption > div { vertical-align: middle; display: table-cell; }
/* line 361, ../sass/custom.scss */
#slider #main-carousel .carousel-left { position: absolute; left: -70px; }
/* line 365, ../sass/custom.scss */
#slider #main-carousel .carousel-right { position: absolute; right: -70px; }
/* line 370, ../sass/custom.scss */
#slider #main-carousel:hover .carousel-left { -webkit-transition: 300ms; -moz-transition: 300ms; -o-transition: 300ms; transition: 300ms; padding: 15px; z-index: 12; font-size: 80px; color: rgba(255, 255, 255, 0.75); top: 50%; position: absolute; margin-top: -60px; text-align: center; -webkit-transition: 300ms; -moz-transition: 300ms; -o-transition: 300ms; transition: 300ms; left: 65px; }
/* line 388, ../sass/custom.scss */
#slider #main-carousel:hover .carousel-left:hover { color: #FFF; }
/* line 390, ../sass/custom.scss */
#slider #main-carousel:hover .carousel-right { -webkit-transition: 300ms; -moz-transition: 300ms; -o-transition: 300ms; transition: 300ms; padding: 15px; z-index: 12; font-size: 80px; color: rgba(255, 255, 255, 0.75); top: 50%; position: absolute; margin-top: -60px; text-align: center; -webkit-transition: 300ms; -moz-transition: 300ms; -o-transition: 300ms; transition: 300ms; right: 65px; }
/* line 408, ../sass/custom.scss */
#slider #main-carousel:hover .carousel-right:hover { color: #FFF; }
/* line 412, ../sass/custom.scss */
#slider .slider-content { height: 100%; }

/* line 422, ../sass/custom.scss */
#banner { margin-top: 30px; background: #5f1d05; }
/* line 425, ../sass/custom.scss */
#banner .banner-item { background-size: cover; height: 100%; background-position: 50% 50%; background-repeat: no-repeat; text-align: center; }
/* line 431, ../sass/custom.scss */
#banner .banner-item .banner-caption { color: #FFF; display: table; height: 100%; width: 100%; min-height: 100%; left: 0; top: 0; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); z-index: 11; }
/* line 441, ../sass/custom.scss */
#banner .banner-item .banner-caption > div { vertical-align: middle; display: table-cell; }
/* line 445, ../sass/custom.scss */
#banner .banner-item .banner-caption h3 { margin-top: 70px; display: inline-block; font-size: 2.25em; font-weight: 800; margin-bottom: 0px; text-transform: uppercase; }
/* line 453, ../sass/custom.scss */
#banner .banner-item .banner-caption p { font-size: 24px; font-weight: 300; margin-top: 0; }

/* line 467, ../sass/custom.scss */
.hr1 { max-width: 150px; border: solid 4px rgba(255, 153, 0, 0.4); }

/* line 472, ../sass/custom.scss */
.hr2 { max-width: 70px; margin-top: 10px; border: solid 4px rgba(255, 153, 0, 0.2); }

/* line 478, ../sass/custom.scss */
.content-white { color: #842b12; background: #FFF; padding: 100px 0px; }

/* line 483, ../sass/custom.scss */
.content-gray { color: #555; background: #f1f1f1; padding: 100px 0px; }

/* line 488, ../sass/custom.scss */
.content-wood { color: #842b12; background: #e8b980; padding: 100px 0px; }

/* line 493, ../sass/custom.scss */
.content-brown { color: #FFF; background: #5f1d05; padding: 100px 0px; }

/* line 503, ../sass/custom.scss */
#menu { color: #e1ab6b; padding: 100px 0px; }
/* line 506, ../sass/custom.scss */
#menu .menu-container { padding: 0px 50px; }
/* line 509, ../sass/custom.scss */
#menu .menu-item { cursor: default; }
/* line 511, ../sass/custom.scss */
#menu .menu-item .fa { transition: all 200ms ease-IN; -o-transition: all 200ms ease; -ms-transition: all 200ms ease; -moz-transition: all 200ms ease; -webkit-transition: all 200ms ease; border-radius: 50%; -o-border-radius: 50%; -ms-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; text-align: center; width: 150px; height: 150px; line-height: 150px; border: solid 1px #e8b980; }
/* line 520, ../sass/custom.scss */
#menu .menu-item h5 { padding: 13px 0px 7px 0px; }
/* line 522, ../sass/custom.scss */
#menu .menu-item:hover .fa { background: #A00; color: #FFF; border-color: #e8b980; font-size: 2.7em; }
/* line 528, ../sass/custom.scss */
#menu .menu-item:hover h5, #menu .menu-item:hover p { color: #555; }

/* line 536, ../sass/custom.scss */
.follow ul { padding: 20px 0px 0px 0px; }
/* line 538, ../sass/custom.scss */
.follow ul li { font-size: 2.5em; display: inline-block; }
/* line 541, ../sass/custom.scss */
.follow ul li .fa { transition: all 200ms ease-IN; -o-transition: all 200ms ease; -ms-transition: all 200ms ease; -moz-transition: all 200ms ease; -webkit-transition: all 200ms ease; }
/* line 542, ../sass/custom.scss */
.follow ul li a { display: block; color: #FFF; padding: 0px 2px; }
/* line 547, ../sass/custom.scss */
.follow ul li a:hover .fa-facebook-square { color: #00F; }
/* line 548, ../sass/custom.scss */
.follow ul li a:hover .fa-twitter-square { color: #AAF; }
/* line 549, ../sass/custom.scss */
.follow ul li a:hover .fa-instagram { color: #B71; }
/* line 550, ../sass/custom.scss */
.follow ul li a:hover .fa-youtube-square { color: #F00; }

/* line 559, ../sass/custom.scss */
.recentwork { overflow: hidden; }
/* line 562, ../sass/custom.scss */
.recentwork img { width: 100%; }
/* line 563, ../sass/custom.scss */
.recentwork .overlay { transition: all 200ms ease-IN; -o-transition: all 200ms ease; -ms-transition: all 200ms ease; -moz-transition: all 200ms ease; -webkit-transition: all 200ms ease; position: absolute; top: 100%; left: 0; width: 100%; height: 100%; color: #DDD; background: rgba(17, 17, 17, 0.9); }
/* line 572, ../sass/custom.scss */
.recentwork .overlay .overlay-content { padding: 80px 20px 0px 20px; cursor: default; }
/* line 575, ../sass/custom.scss */
.recentwork:hover .overlay { top: 0; }

/* line 583, ../sass/custom.scss */
.equipments img { width: 100%; }

/* line 589, ../sass/custom.scss */
.contact-form .input-field { margin-bottom: 10px; }
/* line 592, ../sass/custom.scss */
.contact-form .form-control { border: 1px solid #ececec; border-radius: 0; box-shadow: none; color: #818181; font-size: 16px; height: 50px; }
/* line 600, ../sass/custom.scss */
.contact-form textarea.form-control { width: 100%; height: 165px; }

/* line 606, ../sass/custom.scss */
.contact-details h3 { border-bottom: 1px solid #008ecc; font-weight: 700; margin-bottom: 15px; padding-bottom: 15px; text-transform: uppercase; }
/* line 613, ../sass/custom.scss */
.contact-details p { line-height: 30px; }
/* line 615, ../sass/custom.scss */
.contact-details p i { margin-right: 10px; }
/* line 619, ../sass/custom.scss */
.contact-details span { display: block; margin-left: 24px; }

/* line 628, ../sass/custom.scss */
.googlemap-wrapper { height: 100%; width: 100%; padding: 0px; margin: 0px; }

/* line 634, ../sass/custom.scss */
.map-canvas { height: 380px; padding: 0px; margin: 0px; border: 10px solid #FFF; }

/* line 645, ../sass/custom.scss */
.project { color: #555; overflow: hidden; }
/* line 650, ../sass/custom.scss */
.project h6 { color: #FFF; }
/* line 651, ../sass/custom.scss */
.project small { color: #AAA; }
/* line 653, ../sass/custom.scss */
.project .project-pic img { width: 100%; }
/* line 655, ../sass/custom.scss */
.project .project-overlay { transition: all 200ms ease-IN; -o-transition: all 200ms ease; -ms-transition: all 200ms ease; -moz-transition: all 200ms ease; -webkit-transition: all 200ms ease; position: absolute; top: 100%; left: 0; width: 100%; height: 100%; color: #DDD; background: rgba(17, 17, 17, 0.9); }
/* line 664, ../sass/custom.scss */
.project .project-overlay .project-overlay-content { padding: 20px; cursor: default; }
/* line 666, ../sass/custom.scss */
.project .project-overlay .sthumb img { transition: all 300ms ease-IN; -o-transition: all 300ms ease; -ms-transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease; max-width: 80px; border: solid 1px #111; }
/* line 670, ../sass/custom.scss */
.project .project-overlay .sthumb img:hover { border-color: #FFF; }
/* line 675, ../sass/custom.scss */
.project:hover .project-overlay { top: 0; }

/* line 678, ../sass/custom.scss */
.project-featured { padding: 0px !important; margin: 0px !important; display: block; }
/* line 682, ../sass/custom.scss */
.project-featured img { transition: all 300ms ease-IN; -o-transition: all 300ms ease; -ms-transition: all 300ms ease; -moz-transition: all 300ms ease; -webkit-transition: all 300ms ease; margin: 0 auto; padding: 0; border: solid 3px #FFF; }
/* line 687, ../sass/custom.scss */
.project-featured img:hover { border-color: #F90; }

/* line 697, ../sass/custom.scss */
.footer { color: #c8c8c8; }
/* line 700, ../sass/custom.scss */
.footer .footer-logo img { margin: 0 auto; max-width: 130px; }
/* line 705, ../sass/custom.scss */
.footer p { padding: 50px 20px; margin: 0 auto; max-width: 900px; }
/* line 710, ../sass/custom.scss */
.footer .footer-follow { text-align: center; }
/* line 712, ../sass/custom.scss */
.footer .footer-follow li { display: inline-block; }
/* line 714, ../sass/custom.scss */
.footer .footer-follow li a { border-radius: 50%; -o-border-radius: 50%; -ms-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; display: block; background: #F90; width: 50px; height: 50px; line-height: 50px; color: #c8c8c8; background: #FFF; border: solid 1px #c8c8c8; }
/* line 724, ../sass/custom.scss */
.footer .footer-follow li a:hover { border-color: #FFF; }
/* line 726, ../sass/custom.scss */
.footer .footer-follow li a:hover.fa-facebook { color: #FFF; background: #00F; }
/* line 727, ../sass/custom.scss */
.footer .footer-follow li a:hover.fa-twitter { color: #FFF; background: #AAF; }
/* line 728, ../sass/custom.scss */
.footer .footer-follow li a:hover.fa-instagram { color: #FFF; background: #B71; }
/* line 729, ../sass/custom.scss */
.footer .footer-follow li a:hover.fa-youtube { color: #FFF; background: #F00; }

/* line 735, ../sass/custom.scss */
.footer-bottom { color: #FFF; background: #5f1d05; font-size: 0.85em; padding: 50px 0px 30px 0px; position: relative; }
/* line 741, ../sass/custom.scss */
.footer-bottom .footer-totop { position: absolute; top: -25px; width: 100%; text-align: center; }
/* line 746, ../sass/custom.scss */
.footer-bottom .footer-totop .fa { border-radius: 50%; -o-border-radius: 50%; -ms-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; transition: all 200ms ease-IN; -o-transition: all 200ms ease; -ms-transition: all 200ms ease; -moz-transition: all 200ms ease; -webkit-transition: all 200ms ease; width: 50px; height: 50px; line-height: 47px; background: #F90; border: solid 1px #F90; color: #FFF; font-size: 1.5em; }
/* line 756, ../sass/custom.scss */
.footer-bottom .footer-totop .fa:hover { background: #FFF; color: #F90; }

@media (min-width: 992px) and (max-width: 1199px) { /* line 771, ../sass/custom.scss */
  .header-top .header-top-container { padding: 0px 20px; }
  /* line 772, ../sass/custom.scss */
  #header-main .navigation ul li a { font-size: 0.9em; padding: 0px 13px; }
  /* line 773, ../sass/custom.scss */
  .project .project-overlay .sthumb img { max-width: 90px; } }
@media (min-width: 768px) and (max-width: 991px) { /* line 776, ../sass/custom.scss */
  .header-top .header-top-container { padding: 0px 5px; }
  /* line 777, ../sass/custom.scss */
  .project .project-overlay .sthumb img { max-width: 100px; } }
@media (max-width: 767px) { /* line 781, ../sass/custom.scss */
  .header-top .header-top-container { padding: 0px; }
  /* line 782, ../sass/custom.scss */
  .project .project-overlay .sthumb img { max-width: 75px; } }
